<!DOCTYPE html>
<head>
	<title> LogIn </title>
	<meta chatset="utf-8">
	<meta name="description" content="Log In Page">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
	<div class="container">
		<h1> LogIn </h1>  <br>

		<form method="post">
			<input type="text" placeholder="username" name="username" class="cred" value="{{ request.form.username }}">  <br>

			<input type="text" placeholder="password" name="password" class="cred" value="{{ request.form.password }}">  <br>

			<input type="submit" value="LogIn" class="submit-btn">
		</form>

		{% if error %}
			<p class="error"> Error: <strong> {{ error }} </strong> </p>
		{% endif %}
	</div>
</body>